:root {
	--page-color: gray;
	--content-color: lightgray;
}

body {
	background-color: var(--page-color);
}

* {
	font-family: 'Questrial', sans-serif;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

#content {
	margin-top: 140px;
	margin-bottom: 100px;
	.background-color: var(--content-color);
}

.page {
	width: 70%;
	min-width: 500px;
	margin: 0 auto;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#header, .h-content {
	background-color: var(--page-color)
}

#header {
	position: fixed;
	top: 25;
	height: 75px;
	box-shadow: 0px -30px 40px 60px var(--page-color);
	z-index: 999;
}

.h-content {
	overflow: inherit;
}

#title-container {
	width: 30%;
	min-width: 200px;
	margin: auto;
}

#name {
	text-align: center;
	font-size: 25px;
	margin-top: 23px;
	letter-spacing: 0px;
	color: lightgray;
	font-family: 'Questrial', sans-serif;
	.font-family: 'Neucha', cursive;
	.font-family: 'Shadows Into Light Two', cursive;
	..font-family: 'Amatic SC', cursive;
	.font-family: 'Inknut Antiqua', serif;
}

ul.header-buttons {
	padding: 0;
	text-align: center;
	height: 20px;
	margin-top: 27px;
}

ul.header-buttons li {
	list-style-type: none;
	display: inline;
	margin: 20px;
}

img.h-button {
	border-radius: 100px;
}

img.h-button:hover {
	box-shadow: 0px 0px 5px 3px lightgray;
	-webkit-transition-property: box-shadow; /* Safari */
   transition-property: box-shadow;
	-webkit-transition-duration: .25s;
	transition-duration: .25s;
}

#ul-left {
	float: left;
	width: 30%;
}

#ul-right {
	float: right;
	width: 30%;
}

#box-link-wrapper {
	width:
	margin: auto;
}

.box-link {
	height: 155px;
	border: solid 1px lightgray;
	border-radius: 5px;
	display: grid;
	margin-top: 15px;
	overflow: hidden;
	box-shadow: 0px 0px 20px 5px dimgray;
}

.box-link img {
	height: 500%;
	width: auto;
	overflow: hidden;
}

.box-link:hover img {
	filter: blur(5px);
	-webkit-transition-property: filter; /* Safari */
	transition-property: filter;
}

.box-link h3 {
	color: white;
	font-size: 50px;
	z-index: 900;
	opacity: .6;
	position: absolute;
	margin-top: 100px;
	margin-left: 10px;
}

.box-link:hover h3 {
	opacity: 1;
	margin-top: 60px;
	-webkit-transition-property: opacity margin-top; /* Safari */
	transition-property: opacity margin-top;
}

.box-link h4 {
	opacity: 0;
	width: auto;
	position: absolute;
	margin-top: 125px;
	margin-left: 10px;
}

.box-link:hover h4 {
	opacity: 1;
	-webkit-transition-property: opacity; /* Safari */
	transition-property: opacity;
	transition-delay: .1s;

#footer {
	position: absolute;
	clear: all;
	bottom: 0;
	height: 10px;
}