:root {
	--page-color: #cccccc;
	--accent-color: #eeeeee;
}

@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: local('Questrial'), local('Questrial-Regular'), url(https://fonts.gstatic.com/s/questrial/v6/MYWJ4lYm5dbZ1UBuYox79FtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
	background-color: var(--page-color);
}

* {
	font-family: 'Questrial', sans-serif;
	transition-duration: .45s;
	transition-timing-function: ease-in-out;
}

#content {
	margin-top: 140px;
	margin-bottom: 100px;
}

.page {
	width: 70%;
	min-width: 500px;
	margin: 0 auto;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

/*   header   */

#header {
	position: fixed;
	top: 25;
	height: 75px;
	box-shadow: 0px -30px 40px 60px var(--page-color);
	z-index: 999;
}

#header, .h-content {
	background-color: var(--page-color)
}

.h-content {
	overflow: inherit;
}

#title-container {
	width: 30%;
	min-width: 200px;
	margin: auto;
}

#name {
	text-align: center;
	font-size: 25px;
	margin: 23px 0px;
	letter-spacing: 2px;
	color: black;
	font-family: 'Questrial', sans-serif;
	cursor: default;
}

ul.header-buttons {
	padding: 0;
	text-align: center;
	height: 20px;
	margin-top: 27px;
}

ul.header-buttons li {
	list-style-type: none;
	display: inline;
	margin: 20px;
}

#ul-left {
	float: left;
	width: 30%;
}

#ul-right {
	float: right;
	width: 30%;
}

img.h-button {
	border-radius: 100px;
	opacity: .65;
}

img.h-button:hover {
	box-shadow: 0px 0px 6px 4px var(--accent-color);
	-webkit-transition-property: opacity box-shadow background-color; /* Safari */
   transition-property: opacity box-shadow background-color;
	background-color: var(--accent-color);
	opacity: 1;
}

/*   box layout   */

#box-link-wrapper {
	width:
	margin: auto;
}

.box-link {
	b.ox-shadow: 0px 0px 5px 1px dimgray;
	height: 155px;
	border: solid 1px var(--accent-color);
	border-radius: 5px;
	display: grid;
	margin-top: 40px;
	overflow: hidden;
	cursor: default;
	clear: both;
}

.box-link-half {
	width: 47%;
	clear: none;
}

.box-link img {
	width: 100%;
	border-radius: 5px;
}

.box-link:hover {
	box-shadow: 0px 0px 15px 1px dimgray;
	opacity: .75;
}

.box-link:hover img {
	filter: blur(5px);
}

.box-link h3 {
	color: white;
	font-size: 50px;
	z-index: 900;
	opacity: .5;
	position: absolute;
	margin-top: 100px;
	margin-left: 10px;
}

.box-link:hover h3 {
	opacity: 1;
	margin-top: 60px;
}

.box-link h4 {
	opacity: 0;
	width: auto;
	position: absolute;
	margin-top: 125px;
	margin-left: 10px;
	color: lightgray;
}

.box-link:hover h4 {
	opacity: 1;
	transition-delay: .1s;	
}
